* {
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background-color: rgb(0, 29, 24);
    color: white;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    /* background: linear-gradient(
      -45deg,
      #003029,
      #0c7392,
      #00362d,
      #00615c,
      #00aab6
    );
    background-size: 800% 800%;
    animation: gradient 6s ease infinite; */
}

#container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #eee;
    padding: 2rem;
    height: 100vh;
    width: 85%;
    border-radius: 35px;
}

#grid {
    height: 100%;
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: space-evenly;
    /* flex-wrap: wrap; */
    /* grid-template-rows: 40vh 50vh; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 0px 0px; */
    grid-template-areas: 'area1 area1 area2' 'area1 area1 area3';
    margin: 0 5%;
}

h2 {
    text-align: center;
    color: black;
}

#main-table-div,
#pie-chart-div,
#money-chart-div {
    width: 100%;
    justify-content: center;
    align-content: center;
    /* height: 0vh; */
    /* height: 100%; */
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

#main-table-holder {
    overflow: auto;
    height: 85%;
    margin: auto;
    width: 90%;
}

#money-chart-holder {
    height: 90%;
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-table-div {
    grid-area: area1;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

#main-table {
    background-color: cadetblue;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.7rem;
}

th,
tr,
td {
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: lightseagreen;
}

tr:hover {
    background-color: lightskyblue;
}

#pie-chart-div {
    grid-area: area2;
    /* position: absolute;
    left: 55%;
    top: 10%; */
    /* width: 100%; */
    /* height: 35vw; */
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2%; */
}

#pie-holder {
    width: 100%;
    display: flex;
    overflow: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

#pie-chart {
    width: 50%;
    height: 10%;
}

#pie-legend {
    display: flex;
    width: 35%;
    height: 100%;
    margin-left: 10%;
    flex-direction: column;
}

#money-chart-div {
    grid-area: area3;
    /* position: absolute; */
    /* left: 55%; */
    /* top: 90%; */
    /* width: 1fr; */
    /* height: 50vh; */
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 2%;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
}