* {
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    background-color: rgb(0, 29, 24);
    color: white;
    margin: 0;
    background: linear-gradient(-45deg, #003029, #0c7392, #00362d, #00615c, #00aab6);
    background-size: 800% 800%;
    animation: gradient 6s ease infinite;
}

#container {
    border: solid red;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90vw;
    padding: 3%;
}

#main-table-div {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
}

#main-table {
    background-color: cadetblue;
    border-collapse: collapse;
}

th,
tr,
td {
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: lightseagreen;
}

tr:hover {
    background-color: lightskyblue;
}

#pie-chart-div {
    position: absolute;
    left: 55%;
    top: 10%;
    width: 35vw;
    height: 35vw;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

#pie-chart {
    width: 100%;
    height: 100%;
}

#pie-legend {}

#money-chart-div {
    position: absolute;
    left: 55%;
    top: 90%;
    width: 35vw;
    height: 100;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 2%;
}

#money-chart {
    width: 100%;
    height: 100%;
}