body {
    background-color: rgb(0, 29, 24);
    color: white;
}

#main-table {
    background-color: cadetblue;
    border-collapse: collapse;
}

th,
tr,
td {
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: lightseagreen;
}

tr:hover {
    background-color: lightskyblue;
}